<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.androidtechies.godebate">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.androidtechies.godebate.MainActivity"
            android:screenOrientation="portrait"
            android:parentActivityName="com.androidtechies.godebate.Choose">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.androidtechies.godebate.Choose" />
        </activity>
        <activity android:name="com.androidtechies.godebate.Welcome"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.androidtechies.godebate.Choose"
            android:parentActivityName="com.androidtechies.godebate.Choose"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.androidtechies.godebate.Main2Activity"
            android:parentActivityName="com.androidtechies.godebate.Choose"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.androidtechies.godebate.Choose" />
        </activity>
        <activity
            android:name="com.androidtechies.godebate.HostActivity"
            android:label="@string/title_activity_host"
            android:parentActivityName="com.androidtechies.godebate.Main2Activity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"
            />
        <activity
            android:name="com.androidtechies.godebate.ClientActivity"
            android:label="@string/title_activity_client"
            android:parentActivityName="com.androidtechies.godebate.Main2Activity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"
          />
        <activity android:name="com.androidtechies.godebate.About"
            android:screenOrientation="portrait"/>
    </application>

</manifest>
